@import "tailwindcss";

@theme {
  --color-background: #000000;
  --color-background-2: #0b0b0b;

  --color-surface: #141414;
  --color-surface-2: #1e1e1e;

  --color-primary: #E32636;
  --color-primary-hover: #F44353;
  --color-primary-active: #C81E2D;
  --color-primary-dark: #8E0F1D;

  --color-border: #303030;

  --color-text: #F5F5F5;
  --color-text-muted: #B8B8B8;
}
:root {
  --background: #000000;
  --background-secondary: #0B0B0B;

  --surface: #141414;
  --surface-hover: #1E1E1E;

  --primary: #E32636;
  --primary-hover: #F44353;
  --primary-active: #C81E2D;
  --primary-dark: #8E0F1D;

  --border: #303030;

  --text: #F5F5F5;
  --text-secondary: #B8B8B8;
}
body.is-scrolling .card:hover {
  transform: none !important;
  box-shadow: none !important;
}
html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome/Safari */
}

/* scrollbar container */
.custom-scrollbar::-webkit-scrollbar {
  height: 4px;
}

/* transparent background */
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* gray pill scrollbar */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 999px;
}

/* optional hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #2f3540;
}

/* firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #2a2b2d transparent;
}

@theme {
  --animate-pulse: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {

}
html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .scrollbar-custom {
    &::-webkit-scrollbar {
      width: 4px;
      max-height: 500px;
    }
    &::-webkit-scrollbar-track {
      @apply bg-black;
      border-radius: 100vh;
    }
    &::-webkit-scrollbar-thumb {
      @apply bg-primary-dark;
      border-radius: 100vh;
    }
    &::-webkit-scrollbar-thumb:hover {
      @apply bg-primary-active;
    }
  }
}
select option:checked {
  background: var(--primary-dark);
  color: white;
}
option:hover {
  background: var(--primary-active);
  color: white;
}